* {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --accent-color: #10B981;
    --bg-color-light: #ECFDF5;
    --bg-color-dark: #1F2937;
    --medium-gray: #D5D4D8;
    --light-medium-gray: #2F3E53;
    --white: #FFF;
    --dark: #2B283A;
    --password-bg: #273549;
    --f-karla: 'Karla', sans-serif;
    --f-inter: 'Inter', sans-serif;
    --font-w-400: 400;
    --font-w-500: 500;
    --font-w-700: 700;
    --font-w-800: 800;
}

.container {
    width: 550px;
    flex-shrink: 0;
    background-color: var(--bg-color-dark);
    padding: 50px 64px;
    margin: 50px auto;
    transition: 0.2s;
}
#theme {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-bottom: -20px;
    margin-top: -15px;
    margin-right: -25px;
    border-radius: 50px;
    border: none;
    background-color: var(--white);
    transition: 0.2s;
}
#theme:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.title {
    color: var(--white);
    font-size: 40px;
    font-family: var(--f-karla);
    font-weight: var(--font-w-800);
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 10px;
}
.accent-color {
    color: var(--accent-color);
    text-shadow: 0 0 1px var(--bg-color-dark);
}
.subtitle {
    color: var(--medium-gray);
    margin-bottom: 51px;
    font-size: 20px;
    font-family: var(--f-inter);
    line-height: 28px;
}
.generate {
    display: inline-flex;
    font-family: var(--f-inter);
    font-size: 16px;
    color: var(--white);
    background-color: var(--accent-color);
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 35px;
    transition: 0.2s;
}
.generate:hover {
    cursor: pointer;
}
.generate:active {
    transform: scale(0.9)
    
}
.separator {
    background-color: var(--light-medium-gray);
    width: 100%;
    height: 1px;
    margin-bottom: 35px;
}
.pw-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.pw:not(:empty):active {
  transform: scale(0.9);
}
.pw {
    display: flex;
    font-family: var(--f-karla);
    color:  var(--accent-color);
    border-radius: 6px;
    background: var(--password-bg);
    padding: 5px 10px;
    width: 47%;
    min-height: 39px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.pw:hover {
    cursor: pointer;
}
#notification {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copied-text {
    display: none;
    position: fixed;
    top: 10px;
    border-radius: 6px;
    background: var(--password-bg);
    padding: 5px 10px;
    margin: 0 auto;
    color:  var(--accent-color);
    font-size: 16px;
    font-family: var(--f-inter);
    font-weight: var(--font-w-500);
}


/* OLD CSS */

/* UTILITY CLASSES */
/* .accent-color {
    color: var(--accent-color);
} */


/* STYLING */
/* body {
    background-color: var(--body-background);
}

.container {
    background-color: var(--container-background);
    width: 600px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 3rem;
    margin-top: 17vh;
}

.main-text {
    color: var(--white);
    font-size: 2.3rem;
    width: 70%;
    font-family: var(--font-karla);
    line-height: 2rem;
    margin-bottom: 1rem;
}

.subtitle {
    color: var(--p-color);
    font-family: var(--font-inter);
    margin-bottom: var(--margin-bottom);
    font-size: 15px;
    letter-spacing: 0.08em;
}

#generate-pw {
    color: var(--white);
    font-family: var(--font-inter);
    background-color: var(--accent-bg-color);
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    margin-bottom: var(--margin-bottom);
}

#generate-pw:hover {
    cursor: pointer;
    opacity: .90;
}

#generate-pw:active {
    transform: scale(0.9);
}

.divider {
    border-bottom: 2px solid var(--lighter-bg);
    margin-bottom: var(--margin-bottom);
}

.center {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.password-container {
    background-color: var(--lighter-bg);
    display: flex;
    justify-content: space-between;
    min-width: 12rem;
    flex-grow: 1;
    border-radius: 5px;
    width: 47%;
    height: 2rem;
}

.password {
    padding: 0 .5rem 0 .5rem;
    font-family: var(--font-inter);
    align-self: center;
}

.copy-btn {
    background-color: var(--container-background);
    color: var(--accent-color);
    padding: 0rem .5rem;
    border: #10B981 1.5px solid;
    border-radius: 0 5px 5px 0;
}

.copy-btn:hover {
    cursor: pointer;
    opacity: .90;
}

.copy-btn:active {
    transform: scale(0.95);
} */

/* .fa-copy {
    /* align-items: center;
} */